#main{
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box{
  height: 300px;
  width:  600px;
  font-family: 'Lucida Sans';
  color: #ffffff;
}

#author{
  font-style: italic;
  text-align: right;
}
#text{
  text-align: center;
}
#btns{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  margin: auto 50px;
 
}
#tweet{
  
}
#btn{
  margin-left: 10px;
}

#tweet-bg{
   background-color: #2e6da4;
   padding: 2px;
  border-radius:10%;
}
.fa-twitter{
  color: white;
}
footer{
  font-size: 1.3rem;
  font-style: italic;
}
