body{
  font-family: 'Lucida Sans', sans-serif;
  
  background-image: url("https://images.pexels.com/photos/5412091/pexels-photo-5412091.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}
h1{
  font-weight: bold;
  margin-top: 2rem;
}
#main{
  height: 100vh;
  width: 100vw;
}

#wrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  
}  
#labels{
  margin-top: 8rem;
  color: black;
}
#break-display{
  display:inline;
  margin-left: -1rem;
  font-size: 1.5em;
}
#session-display{
  display: inline;
  margin-left: 12.5rem;
  font-size: 1.5em;
  
}

#session-label{
  
  margin-left: 15rem; 
}
#break-length{
  font-size: 2rem;
  padding: 15px;
}
#session-length{
  font-size: 2rem;
  padding: 15px;
}

#timers{
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center;
  border: 1px solid black;
  background-color: black;
  border-radius: 5px;
  padding: 15px;
  width: 15rem;
  color: #ffffff;
}
#audio-btns{
  padding: 1rem;
}
#reset{
 margin-left: 2rem; 
}
footer{
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  margin-top: 7rem;
}